<div class="row">
    <h1>Hard & Soft skill</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc] = "'../assets/html5.png'"
        [showImage] = "true"
        [imageHeight] = "150"
        [imageWidth] = "150"
        [showUnits] = "false"
        [showSubtitle] = "false"
        [showTitle] = "false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#e84325'"
        [innerStrokeColor]="'#f55d2b'"
        [animation]="true"
        [animationDuration]="1200"
        
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc] = "'../assets/css.png'"
        [showImage] = "true"
        [imageHeight] = "150"
        [imageWidth] = "150"
        [showUnits] = "false"
        [showSubtitle] = "false"
        [showTitle] = "false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0075b6'"
        [innerStrokeColor]="'#00a0d5'"
        [animation]="true"
        [animationDuration]="1200"
        
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc] = "'../assets/js.png'"
        [showImage] = "true"
        [imageHeight] = "150"
        [imageWidth] = "150"
        [showUnits] = "false"
        [showSubtitle] = "false"
        [showTitle] = "false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#e99d39'"
        [innerStrokeColor]="'#f5ba3f'"
        [animation]="true"        
        [animationDuration]="1200"
        
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="82"
        [radius]="100"
        [imageSrc] = "'../assets/bootstrap.png'"
        [showImage] = "true"
        [imageHeight] = "100"
        [imageWidth] = "100"
        [showUnits] = "false"
        [showSubtitle] = "false"
        [showTitle] = "false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5d3f7c'"
        [innerStrokeColor]="'#a36fd8'"
        [animation]="true"
        [animationDuration]="1200"
        
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="87"
        [radius]="100"
        [imageSrc] = "'../assets/ingles.png'"
        [showImage] = "true"
        [imageHeight] = "170"
        [imageWidth] = "170"
        [showUnits] = "false"
        [showSubtitle] = "false"
        [showTitle] = "false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#154440'"
        [innerStrokeColor]="'#24847e'"
        [animation]="true"
        [animationDuration]="1200"
        
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc] = "'../assets/teamwork.png'"
        [showImage] = "true"
        [imageHeight] = "160"
        [imageWidth] = "160"
        [showUnits] = "false"
        [showSubtitle] = "false"
        [showTitle] = "false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#af7763'"
        [innerStrokeColor]="'#fbc0ac'"
        [animation]="true"
        [animationDuration]="1200"
        
    ></circle-progress>
    </div>
        
</div> 